@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Fundo da tela */
body {
    margin: 0;
    padding: 0;
    /*background-color: #04352D; /* verde escuro */
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;
    font-style: normal;*/
}


/* Container central */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Logo */
.logo img {
    width: 150px;
    margin-bottom: 30px;
}

/* Botões */
.btn {
    background-color: #007b5F;
    /* verde claro */
    color: #04352D;
    /* fonte verde escuro */
    border: none;
    border-radius: 25%;
    /* bordas arredondadas */
    cursor: pointer;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.btn.grande {
    width: 200px;
    height: 120px;
    font-size: 18px;
    background-color: #007b5F;
    border: none;
    padding: 20px 25px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn.medio {
    background-color: #007b5F;
    border: none;
    padding: 20px 25px;
    border-radius: 25%;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 130px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linha {
    display: flex;
    gap: 20px;
}

.btn.pequeno {
    width: 100px;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
}

/* Ícones dentro dos botões */
.btn .icon img {
    width: 40px;
    height: 40px;
}

/* Ícone dentro do botão Rotina */
.btn.grande .icon img {
    width: 60px;
    /* tamanho maior */
    height: 60px;
}