:root{
    --cor-primaria: #03A086  ;
    --cor-secundaria: #04352D;
    --fundo:#FFF
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    background-color: var(fundo);
    padding: 5%;
     font-family: 'Nunito', system-ui, -apple-system, 'Segoe UI', 'Roboto', sans-serif;
     color: var(--cor-secundaria);

}

.app{
    width: 100vw;
    
}

.modal{
    display: flex;
    background-color: var(--cor-primaria);
    height: 100vh;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}

.modal_conteudo{
}

