:root{
    --cor-primaria: #03A086;
    --cor-secundaria: #04352D;
    --fundo:#FFF;
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    background-color: var(fundo);
    padding: 2%;
     font-family: 'Nunito', system-ui, -apple-system, 'Segoe UI', 'Roboto', sans-serif;
     color: var(--cor-secundaria);

}

.app{
    width: 100vw;
    
}

.modal{
    display: flex;
    text-align: center;
    background-color: var(--cor-primaria);
    height: 35vh;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.modal__conteudo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 5%;
}

.botao_fechar{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: 1px;
    border-radius: 25px;
}

